.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
# Ignore terraform.tfvars
terraform.tfvars
.terraform.lock.hcl
./modules/cloud-function/sendApprovalEmail.zip
sa_wif_setup.sh
terraform.tfvars.gpg
terraform.tfvars.gpg.b64
azure.tfvars
azure.tfvars.gpg
azure.tfvars.gpg.b64